{% extends 'bookstore/base/base.html' %}


{% block content %}

    <div class="container py-5">
        <div class="row">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Чудово!</h4>
                <p>
                    Замовлення оформленно успішно.
                </p>
                <hr>
                <p class="mb-0">Ви можете переглянути замовлення в свому особистому кабінеті при умові, що були
                    авторизовані, під час оформлення.</p>
            </div>
        </div>
    </div>

{% endblock %}